<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vortex.soft.sellproducts.enter">

    <application
        android:supportsRtl="true"
        android:theme="@style/SellProductsAppTheme">

        <activity
            android:name=".launch.welcome.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".launch.splash.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enroll.EnrollActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>